<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Currency Converter</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <div class="main">
            <h1 class="title">Currency Converter</h1>
            <form class="convertForm">
                <div class="from">
                    <input type="number" name="fromAmount" id="fromAmount">
                    <select name="fromCurrency" id="fromCurrency"></select>
                </div>
                <div class="to">
                    <input type="number" name="toAmount" id="toAmount">
                    <select name="toCurrency" id="toCurrency"></select>
                </div>
            </form>
        </div>
        <script src="/main.js"></script>
    </body>
</html>